/*
Author: Alexis Warren
Date: 2/2/2026
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* html and body styles */
html {
    background-color: whitesmoke;
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebf4d9;
}

/*
Header + Nav design 
  Making the header a grid so that the 
  organization name + nav menu are next to each other. 
  Plus the grid is responsive. 
*/
header {
    display: flex;
    flex-flow: row nowrap;
    background-color: #7e988b;
}

header > p {
    color: white;
    flex-basis: 35%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

nav{
    flex-basis: 65%;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
}

nav ul {
    display: flex;
    flex: 1 1 60%;
    flex-flow: row nowrap;
}

nav li {
    display: flex;
    flex: 1 1 auto;
    list-style-type: none;
}

nav a {
    color: white;
    background-color: #7e988b;
    text-decoration: none;
    text-align: center;
    flex: 1 1 auto;
    padding: 15px 2px;
}

nav a:hover, nav a:active {
    background-color: #215a36;
    color: rgba(255,255,255,0.7);
}

nav a.active {
    background-color: #ebf4d9;
    color: #215a36;
}

/* assigning the Google fonts to text elements */
h1, h2, h3 {
    font-family: Cardo, "Times New Roman";
}

p {
    font-family: Mate, "Times New Roman";
}

/* creates horizontal lines on the page to separate sections */
hr {
    border: 1.5px solid #7e988b;
}

/* Call to action styles */
/*sets the background color of the section to white 
and centers the h4 heading. */
#call_to_action {
    background-color: white;
    text-align: center;
}

/* the button container acts as a flexbox
with a width of 90% and the flex items horizontally centered using 
the space around feature so that there's space between them */
.button_container {
    display: flex;
    padding: 0px 0px 10px; /*top padding of 10 pixels and bottom padding of 20 pixels */
    justify-content: space-around;
    width: 90%;
    margin: 0 auto; /*horizontally centered */
}

/*increases the font size for the h4 heading and adds more padding to add more space */
h4 {
    padding: 30px;
    font-size: 1.4em;
}

/* sets the border for the email input item and the submit button.
sets the flex-basis size to 90% so that it takes up a decent amount of space. 
Rounds the edges of the buttons with border-radius. 
Is displayed as flex so it's child elements are displayed in a row. */
.button {
    border: 2px solid #7e988b;
    border-radius: 5px;
    flex-basis: 90%;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
}

/* gets rid of the border around the email input item. Makes the flex-basis 50% and
 add padding for space. */
#email {
    flex-basis: 50%;
    padding: 10px 0px;
    border: 0;
    padding-left: 15px;
}

/* gets rid of the outline when the input is focused. Replaces 
   it with making the background a light green when the input element is focused. */
#email:focus {
    outline: none;
    background-color: #ebf4d9;
}

/* styles for the submit button. Sets the flex-basis to 50%,
has a dark green background color, and white text, and an interactive cursor.*/
#sub {
    flex-basis: 50%;
    background-color: #7e988b;
    padding: 10px 10px;
    cursor: pointer;
    border: 0;
    color: white;
}

/* Adds a message underneath the button that will say thanks for subscribing 
when the button is clicked and a valid email is entered. */
#message {
    text-align: center;
    padding-bottom: 40px;
}

/* footer styles */ 
footer {
    background-color: #7e988b;
    width: 100%;
    text-align: center;
    line-height: 2em;
    color: white;
    padding: 30px;
}

footer > p {
    margin-top: 0px;
}

/* Responsive Web Design */

/* Styles for tablets */
@media only screen and (min-width: 600px) {
    
    div.flip-card {
        grid-column: span 2;
    }
    
    /* On larger screens, this allows the hero image to take up 76.2% of
    the screen and is a weird number, but on a full laptop page it perfectly aligns with
    one of the nav list borders which looked nice. */
    div#hero_img {
        flex-basis: 77.6%;
    }
    
    /* lowers the width of the mission section element so that the 
    text strings don't get too long. */
    section#mission {
        width: 70%;
    }

    .button {
        flex-basis: 70%;
    }

    table#calendar {
        width: 90%;
    }

    td.calendar_dates, td#active {
        font-size: 0.9em;
    }
}

/* Laptop designs (min-width: 1020px) */
@media only screen and (min-width: 1020px) {
    
    div.flip-card {
        grid-column: span 1;
    }
    
    /* lowers the width of the mission section element so that the 
    text strings don't get too long. */
    section#mission {
        width: 60%;
    }

    /* lowers the width of the grid container so that the 
    team member grid can be 3 by 2 on a large desktop screen 
    without making the cards overwhelmingly large */
    
    div.grid_container {
        width: 90%;
    }

    .button {
        flex-basis: 50%;
    }

    td.calendar_dates, td#active {
        font-size: 1.1em;
    }

    table#calendar caption {
        font-size: 1.3em;
    }

    th {
        font-size: 1.1em;
    }
}


/* This block runs ONLY when the user has enabled Reduce Motion */
@media (prefers-reduced-motion: reduce) {

/* Remove all CSS animations */
*, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
}
}
