/*
Author: Alexis Warren
Date: 2/2/2026
*/

/* reset styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* html and body styles */
html {
    background-color: whitesmoke;
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebf4d9;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-flow: row nowrap;
    background-color: #7e988b;
}

header > p {
    color: white;
    flex-basis: 35%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

nav{
    flex-basis: 65%;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
}

nav ul {
    display: flex;
    flex: 1 1 60%;
    flex-flow: row nowrap;
}

nav li {
    display: flex;
    flex: 1 1 auto;
    list-style-type: none;
}

nav a {
    color: white;
    background-color: #7e988b;
    text-decoration: none;
    text-align: center;
    flex: 1 1 auto;
    padding: 15px 2px;
}

nav a:hover, nav a:active {
    background-color: #215a36;
    color: rgba(255,255,255,0.7);
}

nav a.active {
    background-color: #ebf4d9;
    color: #215a36;
    /*background-color: rgb(60, 121, 118);*/
    
}

section#hero {
    display: flex;
    position: relative;
    align-items: end;
    justify-content: center;
    max-width: 100%;
    height: 30vw; 
    text-align: center;
}

div.hero_image img {
    position: absolute;
    width: 100%;
    height: 100%;  
    z-index: 0;
    overflow: hidden;
    inset: 0;
    object-fit: cover;
}

/* gray overlay to slightly darken the hero image */
section#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);
  z-index: 1;
}   

/* responsive text on top layer of hero container */
div.hero_text {
  color: rgb(251, 226, 194);
  text-shadow: 2px 2px 5px black;
  padding: 0px 10px;
  z-index: 2;
  font-size: clamp(10pt, 2vw, 25pt);
} 

section#countdown_timer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#countdown_timer h2 {
    padding: 20px 0px 10px;
}

section#countdown_timer h3 {
    padding: 20px 0px 10px;
}

p {
    padding: 10px 50px;
}

/* assigning the Google fonts to text elements */
h1, h2, h3 {
    font-family: Cardo, "Times New Roman";
}

p {
    font-family: Mate, "Times New Roman";
}

/* displaying this container as a flex item so that the quote, author, and button are centered */
#quote-container {
    width: 80%;
    padding: 10px;
    background-color: rgb(250, 211, 125);
    margin: 10px auto 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

/* displaying this container as a flex item so the loading animation is centered */
#inspirational-quote {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

/* inserting curly quotation marks before and after the quote */
blockquote {
    quotes: "\201C" "\201D";
    color: #393b3a;
    padding: 0px 30px 10px;
}

blockquote::before {
    content: open-quote;
    font-size: 1.5em;
}

blockquote::after {
    content: close-quote;
    font-size: 1.5em;
}

cite {
    color: black;
    padding: 0px 30px;
}

/* styles for the loading animation */
@keyframes dualRing {
  to {transform: rotate(360deg); }
}

.dual-ring {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  border: 4px solid transparent;
  border-top-color: #7e988b;
  border-bottom-color: #7e988b;
  border-radius: 50%;
  animation: dualRing 2s linear infinite;
}

/* button styles */
button {
    background-color: rgb(130, 131, 133);
    border-radius: 30px;
    border: none;
    padding: 5px 10px;
    font-family: Mate, "Times New Roman";
    font-size: 0.9em;
    color: #f7f1d3;
    margin: 15px 0px 0px;
}

/* footer styles */ 
footer {
    background-color: #7e988b;
    width: 100%;
    text-align: center;
    line-height: 2em;
    color: white;
    padding: 30px;
}

footer > p {
    margin-top: 0;
}