/*
Author: Alexis Warren
Date: 2/2/2026
*/

/* defines the colors used throughout the web page */
:root{
  /* Brand */
  --color-primary:#7e988b;
  --color-accent:#ebf4d9;

  /* Surfaces */
  --color-bg:#ffffff;
  --color-surface:rgb(220, 220, 220);
  --color-surface-2: whitesmoke;
  --color-bg-active: #215a36;
  --color-bg-instruction: rgba(163, 190, 142, 0.2);
  --color-bg-back: #d4e1ef;
  --color-box: rgb(250, 211, 125);
  --color-button: rgb(130, 131, 133);
  --color-button-border: rgb(163, 197, 225);

  /* Text */
  --color-text:#000000;
  --color-text-muted:rgba(255,255,255,0.7);
  --color-text-alt: #ffffff;
  --color-text-btn: #f7f1d3;
  --color-hero: rgb(251, 226, 194);

  /* Shadows */
  --color-shadow: rgba(41, 40, 40, 0.2);
  --color-shadow-hover: rgba(0, 0, 0, 0.7);
  --color-overlay: rgba(0, 0, 0, 0.2);
  --color-overlay-2: rgba(0, 0, 0, 0.4);

  /* Gradients */
  --contact-gradient: linear-gradient(to top, #7e988b, #ebf4d9, #d4e1ef);
}

/* defines the alternate colors used for dark mode */
.dark-mode {
    --color-primary:#000000;
    --color-accent:#a8a8a8;
    --color-bg-active: #7e7b7b;
    --color-bg:#808080;
    --color-bg-back: #4a4e51;
    --color-box: rgb(84, 79, 79);
    --color-button-border: rgb(96, 95, 95);
    --color-bg-instruction: rgba(255, 255, 255, 0.2);
    /* Text */
    --color-text:#ffffff;
    --color-text-muted:rgba(252, 247, 247, 0.934);
    /*Gradients */
    --contact-gradient: linear-gradient(to top, #0f0f0f, #6c6d68, #cccdcf);
}

/* doesn't display the desktop dark mode button on mobile devices */
.desktop-dark-mode {
    display: none;
}

/* styles for the desktop dark mode button. Displayed in a pill button shape,
 using white text, a gray background, extra padding, and a defined width of 150 pixels.*/
button#large-dark-mode {
    border-radius: 25px;
    width: 150px;
    color: var(--color-text-alt);
    display: block;
    padding: 16px 16px;
    cursor: pointer;
    font-size: 1rem;
    border: 0;
    background-color: rgb(56, 55, 55);
}

/* a hover rule for the dark mode button. When hovered over, the background turns black. */
button#large-dark-mode:hover {
    background-color: black;
}

/* styles for the mobile dark mode button. It's very similar to the desktop version, 
except that it's located in the mobile nav menu (so 100% width and height) and has no rounded edges. 
It also has a transparent background. */
button#dark-mode {
    width: 100%;
    height: 100%;
    display: block;
    color: var(--color-text-alt);
    padding: 16px 16px;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
}

/* Also has a hover effect on the mobile dark mode button where the background also turns black. */
button#dark-mode:hover {
    background-color: rgb(0, 0, 0);
}

/* reset styles for all page elements */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* html and body styles */
html {
    background-color: var(--color-surface-2);
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-accent);
    line-height: 1.5;
}

/*
Header + Nav design 
  Making the header a grid so that the 
  organization name + nav menu are next to each other. 
  Plus the grid is responsive. 
*/
header {
    flex-flow: row nowrap;
    background-color: var(--color-primary);
    font-size: 1rem;
    width: 100%;
    justify-content: space-between;
    position: relative;
    display: flex;
}

header > p {
    color: var(--color-text-alt);
    font-size: 1.125em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

/* Mobile nav styles. It's placed using absolute positioning. It's hidden until the mobile nav button is clicked, and then it toggles the show 
class, which then displays it as a block element. */
nav#mobile-nav {
    display: none;
    position: absolute;
    top: 68px;
    right: 0px;
    background-color: var(--color-primary);
    min-width: 160px;
    text-align: center;
    z-index: 5;
}

nav#mobile-nav li {
    list-style-type: none;
}

nav#mobile-nav a {
  color: var(--color-text-alt);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav#mobile-nav a:hover {
    background-color: var(--color-bg-active);
    color: var(--color-text-alt);
}

nav#mobile-nav a.active {
    background-color: var(--color-accent);
    color: var(--color-text);
}

/* defines how the mobile nav looks when displayed. The background and border is a transparent black color. 
The background is also blurred. */
nav#mobile-nav.show {
    display: block;
    animation: slideLeft 0.5s ease-in;
    backdrop-filter:blur(18px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.2);
}

/* An animation for the mobile nav. It slides in from the right to the left, when the mobile nav button is clicked. */
@keyframes slideLeft {
  from {right: -300px; opacity: 0;}
  to {right: 0px; opacity: 1;}
}

.mobile-toggle {
  background-color: var(--color-primary);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.mobile-toggle:hover, .mobile-toggle:focus {
  background-color: var(--color-bg-active);
}

/* Hides the desktop navigation menu for mobile devices. */
nav.desktop-nav {
    display: none;
}

/* assigning the Google fonts to text elements */
h1, h2, h3, h4, legend, caption, th {
    font-family: Cardo, "Times New Roman";
}

p, input, label, button, a, select, textarea {
    font-family: Inconsolata, "Roboto";
}

/* creates horizontal lines on the page to separate sections */
hr {
    border: 1.5px solid var(--color-primary);
}

/* Call to action styles */
/*sets the background color of the section to white 
and centers the h4 heading. */
#call_to_action {
    background-color: var(--color-bg);
    text-align: center;
}

/* the button container acts as a flexbox
with a width of 90% and the flex items horizontally centered using 
the space around feature so that there's space between them */
.button_container {
    display: flex;
    padding: 0px 0px 12px; /*top padding of 10 pixels and bottom padding of 20 pixels */
    justify-content: space-around;
    width: 93%;
    margin: 0 auto; /*horizontally centered */
}

/*increases the font size for the h4 heading and adds more padding to add more space */
h4 {
    padding: 32px;
    font-size: 1.4em;
    color: var(--color-text);
}

/* sets the border for the email input item and the submit button.
sets the flex-basis size to 90% so that it takes up a decent amount of space. 
Rounds the edges of the buttons with border-radius. 
Is displayed as flex so it's child elements are displayed in a row. */
.button {
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    flex-basis: 100%;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
}

/* gets rid of the border around the email input item. Makes the flex-basis 50% and
 add padding for space. */
.button #email {
    flex-basis: 30%;
    padding: 8px 0px;
    border: 0;
    font-size: 12pt;
    padding-left: 8px;
}

/* gets rid of the outline when the input is focused. Replaces 
   it with making the background a light green when the input element is focused. */
.button #email:focus {
    outline: none;
    background-color: var(--color-accent);
    color: var(--color-text);
}

/* styles for the submit button. Sets the flex-basis to 50%,
has a dark green background color, and white text, and an interactive cursor.*/
#sub {
    flex-basis: 70%;
    background-color: var(--color-primary);
    cursor: pointer;
    border: 0;
    color: var(--color-text-alt);
    font-size: 12pt;
}

/* Adds a message underneath the button that will say thanks for subscribing 
when the button is clicked and a valid email is entered. */
#message {
    text-align: center;
    padding-bottom: 40px;
    color: var(--color-text);
}

/* footer styles */ 
footer {
    background-color: var(--color-primary);
    width: 100%;
    text-align: center;
    color: var(  --color-text-alt);
    padding: 32px;
}

/* load in classes that have different delay times */
.load-in {
    opacity: 0;
    transform: translateX(-30px);
    animation: load-in 1s ease-in forwards;
}

.load-in-2 {
    opacity: 0;
    transform: translateX(30px);
    animation: load-in 1s ease-in forwards;
    animation-delay: 1s;
}

.load-in-3 {
    opacity: 0;
    transform: translateX(30px);
    animation: load-in 1s ease-in forwards;
    animation-delay: 2s;
}

/* the animation lets the elements slide in from either the left or right side 
and slowly makes it visible*/
@keyframes load-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Responsive Web Design */
/* Styles for screen sizes bigger than 420 pixels. This is mostly used for the events calendar. 
The big events calendar broke for screen sizes lower than 420 pixels, so for really small mobile screens, I use the mobile events calendar instead. 
But for screens bigger than 420 pixels, the mobile events calendar is replaced by the events calendar. */
@media only screen and (min-width: 420px) {
    /* on bigger screens (anything bigger than 420 px, replaces the mobile 
    calendar with the desktop calendar. Same styling, just has a header row for the week days 
    and the date cells are aligned like a real calendar. */
    table.mobile-calendar {
        display: none;
    }

    table.desktop-calendar {
        background-color: var(--color-bg-back);
        margin: 30px auto;
        width: 90%;
        border: 4px solid var(--color-primary);
        border-collapse: collapse;
        display: table;
    }

    table.desktop-calendar caption {
        background-color: var(--color-bg);
        border-top: 4px solid var(--color-primary);
        border-left: 4px solid var(--color-primary);
        border-right: 4px solid var(--color-primary);
        font-weight: bold;
        font-size: clamp(1.1em, 2vw, 1.3em);
        padding: 3px 0px;
        color: var(--color-text);
    }

    .calendar-day {
        width: 12.8%; 
    }

    table.desktop-calendar td.calendar-dates, table.desktop-calendar th {
        border: 3px double var(--color-primary); 
        background-color: var(--color-bg);
        color: var(--color-text);
    }

    table.desktop-calendar th {
        font-size: clamp(0.8em, 1.4vw, 1.2em);
    }

    table.desktop-calendar td.calendar-dates {
        text-align: left;
        vertical-align: top;
        height: 80px;
        font-size: clamp(0.7em, 1.4vw, 1.1em);
        padding: 3px;
    }

    /* changes the flex basis amount for the subscribe button */
    .button #email {
        flex-basis: 40%;
    }

    #sub {
        flex-basis: 60%;
    }
}


/* Styles for tablets */
/* Starts to really change the layout of elements to fit screens larger than 768 pixels. */
@media only screen and (min-width: 768px) {
    /* On larger screens, this allows the hero image to take up 76.2% of
    the screen and is a weird number, but on a full laptop page it perfectly aligns with
    one of the nav list borders which looked nice. */
    div#hero_img {
        flex-basis: 77.6%;
    }
    
    /* lowers the width of the mission section element so that the 
    text strings don't get too long. */
    section#mission {
        width: 70%;
    }

    /* changes the flex basis amount for the subscribe button */
    .button {
        flex-basis: 70%;
    }

    .button #email {
        flex-basis: 50%;
    }

    #sub {
        flex-basis: 50%;
    }

    /* changes the width of the events calendar */
    table.desktop-calendar {
        width: 90%;
    }

    /* displays the desktop navigation menu and desktop dark mode button */
    nav.desktop-nav {
        display: block;
    }

    .desktop-dark-mode {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 100;
    }

    /* hides the mobile navigation menu and the mobile dark mode button */
    nav.mobileNav {
        display: none;
    }

    button#navButton {
        display: none;
    }

    /* desktop navigation styles */
    nav {
        flex-basis: 66%;
        display: flex;
        flex-flow: row nowrap;
    }

    nav ul {
        display: flex;
        flex-basis: 100%;
        flex-flow: row nowrap;
    }

    nav li {
        display: flex;
        flex: 1 1 auto;
        list-style-type: none;
    }

    nav a {
        color: var(--color-text-alt);
        text-decoration: none;
        text-align: center;
        padding: 16px 4px;
        width: 100%;
    }

    nav a:hover, nav a:active {
        background-color: var(--color-bg-active);
        color: var(--color-text-alt);
    }

    nav a.active {
        background-color: var(--color-accent);
        color: var(--color-text);
        border: 2px solid var(--color-primary);
    }

    /* changes the progress bar width for tablet devices to 20% */
    #myProgress {
        width: 20%;
    }

    /* displays the flex items in the progress bar section as a row. Adds more margin to the bottom. */
    section#progress_bar {
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;
    }

    /* Each item in the progress bar section takes up 50% of the space */
    #wrapper {
        flex-basis: 50%;
    }

    /* video element takes up half of the screen on larger screens */
    #video {
        flex-basis: 50%;
    }
    /* photos in the gallery with this span class span all 12 columns */
    div.span-12 {
        grid-column: span 12;   
    }

    /* photos in the gallery with this span class span 8 columns */
    div.span-8 {
        grid-column: span 8;
    }

    /* photos in the gallery with this span class span 4 columns */
    div.span-4 {
        grid-column: span 4;
    }

    /* changes the contact ways section to be displayed in a row with the form and alt ways
    of contact starting at the top of the section. */
    #contact-ways {
        flex-direction: row;
        align-items: start;
    }

    /* sets the height of the form wrapper to 610px and establishes a right green border
    so that when the form is submitted, and the submission text appears the border (which acts as a vertical separation line)
    is still the same length. */
    #form-wrapper {
        border-right: 4px solid var(--color-primary);
        height: 680px;
    }
    
    /* makes the alt-text border 0px so that a double top border doesn't happen */
    .alt-text {
        border: 0px;
    }

    /* each social media icon image has a width of 30% for tablet + screens. */
    #social-links ul img {
        width: 30%;
    }
 
    /* the svg curve has a higher height of 120px for tablet + screens */
    #curve > svg {
        height: 120px;
    }

    /* the hero text is centered on larger screens instead of at start. */
    .hero-text {
        justify-content: center;
    }
}

/* Laptop designs (min-width: 1020px) */
@media only screen and (min-width: 1024px) {
    /* allows the four flip cards to be aligned in a row */
    div.flip-card {
        grid-column: span 1;
    }
    
    /* lowers the width of the mission section element so that the 
    text strings don't get too long. */
    section#mission {
        width: 60%;
    }

    /* changes the flex basis amount for the subscribe button */
    .button {
        flex-basis: 50%;
    }

    /* contact form has a smaller width of 60% on larger screens */
    form.contact {
        width: 60%;
    }   

    /* Donation form has a smaller width of 50% of large desktop devices. */
    form.donate {
        width: 50%;
    }

    /* extra left/right padding for paragraph elements in this calendar section */
    #calendar-section > p {
        padding: 0px 120px;
    }
}


/* This block runs ONLY when the user has enabled Reduce Motion */
@media (prefers-reduced-motion: reduce) {

/* Remove all CSS animations */
*, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
}
}
