/*
Author: Alexis Warren
Date: 2/2/2026
*/

section#hero {
    display: flex;
    position: relative;
    align-items: end;
    justify-content: center;
    max-width: 100%;
    height: 30vw; 
    text-align: center;
}

div.hero_image img {
    position: absolute;
    width: 100%;
    height: 100%;  
    z-index: 0;
    overflow: hidden;
    inset: 0;
    object-fit: cover;
}

/* gray overlay to slightly darken the hero image */
section#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);
  z-index: 1;
}   

/* responsive text on top layer of hero container */
div.hero_text {
  color: rgb(251, 226, 194);
  text-shadow: 2px 2px 5px black;
  padding: 0px 10px;
  z-index: 2;
  font-size: clamp(10pt, 2vw, 25pt);
} 

section#countdown_timer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fundraiser_end_date {
    font-size: 1.3em;
    font-weight: lighter;
    font-style: italic;
}

section#countdown_timer h2 {
    padding: 20px 0px 10px;
}

section#countdown_timer h3 {
    padding: 10px 0px 10px;
}

section#countdown_timer p {
    padding: 10px 30px;
}


